src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8070/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionMontantEuroToDH">
<part name="parameters" element="tns:ConversionMontantEuroToDH"/>
</message>
<message name="ConversionMontantEuroToDHResponse">
<part name="parameters" element="tns:ConversionMontantEuroToDHResponse"/>
</message>
<message name="getCompteDetails">
<part name="parameters" element="tns:getCompteDetails"/>
</message>
<message name="getCompteDetailsResponse">
<part name="parameters" element="tns:getCompteDetailsResponse"/>
</message>
<message name="listCpts">
<part name="parameters" element="tns:listCpts"/>
</message>
<message name="listCptsResponse">
<part name="parameters" element="tns:listCptsResponse"/>
</message>
<portType name="BanqueService">
<operation name="ConversionMontantEuroToDH">
<input wsam:Action="http://ws/BanqueService/ConversionMontantEuroToDHRequest" message="tns:ConversionMontantEuroToDH"/>
<output wsam:Action="http://ws/BanqueService/ConversionMontantEuroToDHResponse" message="tns:ConversionMontantEuroToDHResponse"/>
</operation>
<operation name="getCompteDetails">
<input wsam:Action="http://ws/BanqueService/getCompteDetailsRequest" message="tns:getCompteDetails"/>
<output wsam:Action="http://ws/BanqueService/getCompteDetailsResponse" message="tns:getCompteDetailsResponse"/>
</operation>
<operation name="listCpts">
<input wsam:Action="http://ws/BanqueService/listCptsRequest" message="tns:listCpts"/>
<output wsam:Action="http://ws/BanqueService/listCptsResponse" message="tns:listCptsResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionMontantEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCpts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8070/"/>
</port>
</service>
</definitions>